{% let intro_id = &page.intro.id %}
{% let intro_eyebrow = &page.intro.eyebrow %}
{% let intro_title = &page.intro.title %}
{% let intro_summary = &page.intro.summary %}
{% let intro_transport_label = &page.intro.transport_label %}
{% let intro_mode_tone = page.intro.mode_tone %}
{% let intro_mode_label = &page.intro.mode_label %}
{% let intro_status_summary = &page.intro.status_summary %}
{% let intro_status_id = &page.intro.status_id %}
{% let intro_status_note = &page.intro.status_note %}
{% include "components/hero_live_intro.html" %}
<div id="status-live">
  {% include "partials/status_live.html" %}
</div>
