<section class="detail-card">
  {% include "partials/triggers/detail_header.html" %}

  {% let notice_option = &detail.notice %}
  {% include "components/notice.html" %}

  {% let meta_rows = &detail.meta %}
  {% include "components/meta_grid.html" %}

  {% include "partials/triggers/action_rail.html" %}
  {% include "partials/triggers/edit_form.html" %}
</section>

<div class="detail-card">
  {% let form_id = "" %}
  {% let form_heading = "Create new trigger" %}
  {% let name_id = "new-trigger-name" %}
  {% let type_id = "new-trigger-type" %}
  {% let team_id = "new-trigger-team" %}
  {% let condition_id = "new-trigger-condition" %}
  {% let input_id = "new-trigger-input" %}
  {% let submit_button_class = "secondary-button" %}
  {% let submit_label = "Create trigger" %}
  {% include "partials/triggers/create_form.html" %}
</div>
